/* Mady by Emiel */

body {
  background: #2b2b2b;
  margin: 0;
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; */
  font-family: 'Roboto', sans-serif;
}

.maindiv {
  /* background: #2b2b2b; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #bdbdbd;
  font-weight: 100;
}

header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #039be5;
}

li {
  margin: 0;
  padding: 0;
  float: left;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px;
  font-weight: 500;
  text-decoration: none;
}



.hover_effect a:hover:not(.active) {
  background-color: #2b2b2b;
}

.active {
  background-color: #2b2b2b;
}

.comp_logo a{
  padding-top: 4%;
  padding-bottom: : 4%;
  padding-right: 5%;
  padding-left: 0;
  height: 20px;
}

.comp_logo img{
    height: 50px;
}
