div.footer {
  width:100%;
  position:relative;
  bottom:0;
}

div.body {
  width: 80%;;
  margin-left: 10%;
  margin-top: 48px;
  padding: 10px;
  background-color: #f2f2f2;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  border-radius: 0px 0px 20px 20px
}

div.center {
  width: 300px;
  margin: auto;
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 2px solid #333;
  border-radius: 20px 20px 20px 20px;
  align-items: center;

}

div.header {
    width: 100%;
    align-items: center;
    margin:auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li{
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
}

li a #a01 {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  background-color: #333;
}

li a:hover:not(.active){
  background-color: #111;
}
.active {
  background-color: #555;
}



body{
  margin: 0;
}
